body {
  text-align: center;
  font-family: Helvetica;
  background-image: url(../images/harbor-bridge.jpg);
}
header {
  padding-bottom: 30px;
}
header a {
  margin: 10px;
  justify-content: space-between;
  color: white;
}
header h1 {
  color: white;
  font-size: 70px;
  background-size: auto;
  border: 3px white solid;
  margin: 20px;
  padding: 10px;
}
.main, .mantra {
  opacity: .8;
  background-color: white;
  width: 600px;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
}
p {
  opacity: 1;
  margin: 10px;
}
